<% include C:\yelpcampapp\views\partials\header.ejs %>
	
	<div class="topnav">
  <a class="topnavhead" href="/campgrounds">Yelp Camps</a>
  <!-- <a href="#news">News</a>
  <a href="#contact">Contact</a> -->
  <div class="topnav-right">
    <a  href="/login">Login</a>
    <a href="/signup">Signup</a>
  </div>
</div>
<div class="container">
	<header class="jumbotron">
		
		<h1>Landing Page!</h1>	
	</header><!-- 
<h1>Landing Page!</h1> -->
<p>Welcome to Yelp Camp!!</p>
<a href="/campgrounds" target = "_blank">View all Campgrounds</a>
</div>
<% include C:\yelpcampapp\views\partials\footer.ejs %>