<% include C:\yelpcampapp\views\partials\header.ejs %>
<div class="topnav">
  <a class="active topnavhead" href="/campgrounds">Yelp Camps</a>
  <!-- <a href="#news">News</a>
  <a href="#contact">Contact</a> -->
  <div class="topnav-right">
    <a href="/login">Signout</a>
    <!-- <a href="/signup">Signup</a> -->
  </div>
</div>

<div class="container">
	<header class="jumbotron">
		
		<h1>This is a secret page that opens only if you are logged innn!!!!</h1>	
	</header>
</div>

<% include C:\yelpcampapp\views\partials\footer.ejs %>
